@{
    Layout = "../Shared/_Layout_For_Dailog";
}
@model UUAC.Entity.IRoleInfo
@section styles{
    <style type="text/css">
        .control-label {
            text-align: right;
        }
    </style>

}
<div class="choose">
    <div class="choose-top">
        <h4>@(string.IsNullOrEmpty(Model.RoleCode) ? "新建角色" : "修改角色信息")</h4>
        <a href="javascript:;" id="btnClose" class="aclose">&times;</a>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12">
            <form class="form-horizontal" method="post" action="@Url.Action("Save", new {type = string.IsNullOrEmpty(Model.RoleCode) ? 1 : 2})" id="frmEdit">
                <div class="form-group">
                    <label class="col-xs-3 control-label">上级角色:</label>
                    <div class="col-xs-6">
                        <span class="form_tip">@Model.ParentName</span>
                        <input type="hidden" id="ParentCode" name="ParentCode" value="@Model.ParentCode"/>
                        <input type="hidden" id="AppCode" name="AppCode" value="@Model.AppCode" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">角色标识:</label>
                    <div class="col-xs-6">
                        <input type="text" id="RoleCode" name="RoleCode" value="@Model.RoleCode" placeholder="角色标识" class="form-control" @(string.IsNullOrEmpty(Model.RoleCode) ? "" : " readonly")/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">角色名称:</label>
                    <div class="col-xs-6">
                        <input type="text" id="RoleName" name="RoleName" value="@Model.RoleName" placeholder="角色名称" class="form-control"/>
                    </div>
                </div>  
              
                <div class="form-group">
                    <label class="col-xs-3 control-label">备注:</label>
                    <div class="col-xs-6">
                        <textarea id="Remark" name="Remark" placeholder="系统介绍" class="form-control">@Model.Remark</textarea>
                    </div>
                </div>
        
            </form>
        </div>
    </div>
    <div class="choose-bottom">
        <button id="btnSave" class="btn btn-success btn-sm no-border"> 确 定 </button>
        <button id="btnCancel" class="btn btn-white btn-default no-border"> 取 消 </button>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        window.options = {
            saveUrl: "@Url.Action("Save")",
            checkCodeUrl:"@Url.Action("CheckCode", new { id = Model.RoleCode, appCode = Model.AppCode})"
        }
    </script>
    <script src="~/js/app/role/edit.js"></script>

}