

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="margin-10"><a id="btnAdd" class="btn btn-block btn-no-border btn-success"><i class="fa fa-plus-circle fa-fw"></i> 新增角色 </a></div>
            <div id="roleTree" style="padding-top:10px;margin-top:2px; background-color:#fbfbfb;min-height:500px"></div>
        </div>
        <div class="col-xs-9">
            <div id="roleList" style="margin-top:10px;"></div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        window.options = {
            editUrl: "@Url.Action("Edit")",
            removeUrl: "@Url.Action("Remove")",
            getAppsUrl:"@Url.Action("GetMyApps", "App")",
            listUrl: "@Url.Action("QueryList")",

            usersUrl: "@Url.Action("RoleUsers")",
            authUrl: "@Url.Action("Authorization")",

            loadTreeUrl: "@Url.Action("QueryTree")"
        }
        window.setTimeout(function(){
            $(document).trigger('ajaxscriptsloaded');
        }, 10);
    </script>
    <script src="~/js/app/role/list.js"></script>
}