@{
    Layout = "../Shared/_Layout_For_Dailog";
}
@model UUAC.Entity.IAppInfo
@section styles{
    <style type="text/css">
        .control-label {
            text-align:right;
        }
    </style>

}
<div class="choose">
    <div class="choose-top">
        <h4>@(string.IsNullOrEmpty(Model.AppCode)?"新建系统":"修改系统信息")</h4>
        <a href="javascript:;" id="btnClose" class="aclose">&times;</a>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12">
            <form class="form-horizontal" method="post" action="@Url.Action("SaveAppInfo",new {type= string.IsNullOrEmpty(Model.AppCode)?1:2})" id="frmEdit">
                <div class="form-group">
                    <label class="col-xs-3 control-label">系统标识:</label>
                    <div class="col-xs-6">
                        <input type="text" id="AppCode" name="AppCode" value="@Model.AppCode" placeholder="系统标识" class="form-control" @(string.IsNullOrEmpty(Model.AppCode)?"":" readonly") />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">系统名称:</label>
                    <div class="col-xs-6">
                        <input type="text" id="AppName" name="AppName" value="@Model.AppName" placeholder="系统名称" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label">系统介绍:</label>
                    <div class="col-xs-6">
                        <textarea id="Description" name="Description" placeholder="系统介绍" class="form-control">@Model.Description</textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="choose-bottom">
        <button id="btnSave" class="btn btn-success btn-sm no-border"> 确 定 </button>
        <button id="btnCancel" class="btn btn-white btn-default no-border"> 取 消 </button>
    </div>
    <input type="hidden" name="_csrf" id="_csrf" value="{_csrf}" />
</div>

@section scripts{
    <script type="text/javascript">
        window.options = {
            saveUrl: "@Url.Action("SaveApp")"
        }
    </script>
    <script src="~/js/app/app/edit.js"></script>

}